body {
  background-color: #ead196;
  padding-bottom: 70px;
}

.nav {
  background-color: #bf3131;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: color 0.5% ease;
}

.title:hover {
  color: black;
}

.nav-link {
  color: white
}

.nav-link.active {
  color: black
}

.custImg {
  width: 200px;
  object-fit: cover;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  padding: 10px 0;
}
