body{
  background-color: #EAD196;
}

.nav {
  background-color: #BF3131;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: bold;
}

.custImg {
  width: 200px;
  object-fit: cover;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  padding: 10px 0;
}
